In [1]:
import pandas as pd
import numpy as np

In [2]:
h_data = 'horse_data.csv'

In [3]:
df = pd.read_csv(h_data, header=None, na_values='?')
df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [4]:
columns = [
    "surgery", "age", "hospital_number", "rectal_temperature", "pulse", 
    "respiratory_rate", "temperature_of_extremities", "peripheral_pulse", 
    "mucous_membranes", "capillary_refill_time", "pain", "peristalsis", 
    "abdominal_distension", "nasogastric_tube", "nasogastric_reflux", 
    "nasogastric_reflux_ph", "rectal_examination_feces", "abdomen", 
    "packed_cell_volume", "total_protein", "abdominocentesis_appearance", 
    "abdomcentesis_total_protein", "outcome", "surgical_lesion", 
    "type_of_lesion_1", "type_of_lesion_2", "type_of_lesion_3", "cp_data"
]

In [5]:
df.columns = columns

In [6]:
df.head(2)

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion_1,type_of_lesion_2,type_of_lesion_3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2

# Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов в файле “horse_data.names” , загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

surgery, age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome

In [7]:
df = (df[[
    'surgery', 'age','rectal_temperature', 'pulse', 
    'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']])

In [8]:
df.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

# Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [20]:
df.describe() # считаю базовые статистики

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

    если посмотреть глазами, то выбросы могут быть в pulse, respiratory_rate. потому что там очень сильно значения минимального и максимального отличаются от среднего. И скорее всего они связаны между собой,
    типа большой пульс => чаще дышит. так что посчитаю выбросы для этих столбцов

In [30]:
def remove_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_b = q1 - (1.5 * iqr)
    upper_b = q3 + (1.5 * iqr)
    return df[df[column].between(lower_b, upper_b, inclusive="both")]

remove_outliers_respiratory_rate = remove_outliers(df, 'respiratory_rate')
remove_outliers_rectal_temperature = remove_outliers(df, 'rectal_temperature')
remove_outliers_pulse = remove_outliers(df, 'pulse')

In [33]:
print(f"До удаления выбросов: {len(df)}")
print(f"После удаления выбросов (respiratory_rate): {len(remove_outliers_respiratory_rate)}")
print(f"После удаления выбросов (rectal_temperature): {len(remove_outliers_rectal_temperature)}")
print(f"После удаления выбросов (pulse): {len(remove_outliers_pulse)}")

До удаления выбросов: 300
После удаления выбросов (respiratory_rate): 225
После удаления выбросов (rectal_temperature): 226
После удаления выбросов (pulse): 271

In [38]:
print(remove_outliers_respiratory_rate['respiratory_rate'].mean(), 
 remove_outliers_respiratory_rate['respiratory_rate'].median())
print("-------------------------")
print(df['respiratory_rate'].mean(), df['respiratory_rate'].median())

26.715555555555557 24.0
-------------------------
30.417355371900825 24.5

In [39]:
print(remove_outliers_rectal_temperature['rectal_temperature'].mean(), 
 remove_outliers_rectal_temperature['rectal_temperature'].median())
print("-------------------------")
print(df['rectal_temperature'].mean(), df['rectal_temperature'].median())

38.16902654867257 38.2
-------------------------
38.16791666666667 38.2

In [40]:
print(remove_outliers_pulse['pulse'].mean(), 
 remove_outliers_pulse['pulse'].median())
print("-------------------------")
print(df['pulse'].mean(), df['pulse'].median())

70.25830258302582 64.0
-------------------------
71.91304347826087 64.0

    на основе этих выбросов и того какая медиана и среднее до и после удаления выбросов. 
    я заполню те пропуски медианой. так как она не менялась. rectal_temperature также можно заполнить средним(следуя моей логике) но я заполню все медианой

# Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [41]:
df.isna().mean() * 100

surgery                        0.333333
age                            0.000000
rectal_temperature            20.000000
pulse                          8.000000
respiratory_rate              19.333333
temperature_of_extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

In [48]:
median_pulse = df['pulse'].median()
median_rectal_temperature = df['rectal_temperature'].median()
median_respiratory_rate = df['respiratory_rate'].median()
median_pulse, median_rectal_temperature, median_respiratory_rate

(64.0, 38.2, 24.5)

In [77]:
df2 = df.copy()

In [78]:
df2['pulse'].fillna(median_pulse, inplace=True)
df2['rectal_temperature'].fillna(median_rectal_temperature, inplace=True)
df2['respiratory_rate'].fillna(median_respiratory_rate, inplace=True)

In [79]:
df2.isna().mean() * 100

surgery                        0.333333
age                            0.000000
rectal_temperature             0.000000
pulse                          0.000000
respiratory_rate               0.000000
temperature_of_extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

In [81]:
df2.groupby('surgery').median()

,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
surgery,,,,,,,
1.0,1.0,38.2,66.0,24.5,3.0,3.0,1.0
2.0,1.0,38.2,56.0,24.5,2.0,2.0,1.0

In [82]:
df[df['surgery'].isna()]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [83]:
df.groupby(['age', 'rectal_temperature', 'pulse', 'respiratory_rate']).surgery.median()

age  rectal_temperature  pulse  respiratory_rate
1    35.4                140.0  24.0                1.0
     36.0                42.0   30.0                2.0
     36.4                98.0   35.0                1.0
     36.5                78.0   30.0                1.0
                         100.0  24.0                1.0
                                                   ...
9    38.9                120.0  30.0                1.0
     39.0                150.0  72.0                2.0
     39.1                164.0  84.0                1.0
     39.2                146.0  96.0                1.0
     39.5                84.0   30.0                2.0
Name: surgery, Length: 194, dtype: float64

In [87]:
# не понял чем заполнить. но там было всего одно пропущеное, так что заполню медианой
df2['surgery'].fillna(df2['surgery'].median(), inplace=True)

In [88]:
df2.surgery.value_counts()

surgery
1.0    181
2.0    119
Name: count, dtype: int64

In [89]:
df2.isna().mean() * 100

surgery                        0.000000
age                            0.000000
rectal_temperature             0.000000
pulse                          0.000000
respiratory_rate               0.000000
temperature_of_extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

          - possible values:
               1 = lived
               2 = died
               3 = was euthanized

In [90]:
df2[df2['outcome'].isna()]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,1.0,1,38.0,48.0,20.0,3.0,4.0,NaN

In [70]:
df2.groupby('outcome').agg(['mean', 'median'])

        surgery              age        rectal_temperature             pulse  \
           mean median      mean median               mean median       mean
outcome
1.0         1.0    1.0  1.539326    1.0          38.192135   38.2  63.460674
2.0         1.0    1.0  2.142857    1.0          38.185714   38.2  83.909091
3.0         1.0    1.0  1.181818    1.0          38.086364   38.2  81.340909

               respiratory_rate        temperature_of_extremities         \
        median             mean median                       mean median
outcome
1.0       56.0        28.446629   24.5                   2.034247    2.0
2.0       80.0        30.928571   24.5                   2.750000    3.0
3.0       81.0        29.931818   24.5                   2.939394    3.0

             pain
             mean median
outcome
1.0      2.520833    3.0
2.0      3.723077    4.0
3.0      3.257143    3.0

In [92]:
df2['outcome'].value_counts()

outcome
1.0    178
2.0     77
3.0     44
Name: count, dtype: int64

    я думаю что пропущеное значение outcome надо заменить на 2 или 3. так как лошадь испытывала боль и 
    была взрослая и была операция. Я думаю что она умерла. посталю значение 2

In [99]:
df2['outcome'].fillna(2.0, inplace=True)

In [100]:
df2.isna().mean() * 100

surgery                        0.000000
age                            0.000000
rectal_temperature             0.000000
pulse                          0.000000
respiratory_rate               0.000000
temperature_of_extremities    18.666667
pain                          18.333333
outcome                        0.000000
dtype: float64

In [102]:
df2['temperature_of_extremities'].value_counts()

temperature_of_extremities
3.0    109
1.0     78
2.0     30
4.0     27
Name: count, dtype: int64

In [113]:
df2.groupby('temperature_of_extremities').agg('median')

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,outcome
temperature_of_extremities,,,,,,,
1.0,1.0,1.0,38.2,54.0,24.00,3.0,1.0
2.0,2.0,1.0,38.2,56.0,26.25,2.0,1.0
3.0,1.0,1.0,38.2,76.0,24.50,3.0,2.0
4.0,1.0,1.0,38.2,88.0,30.00,3.0,2.0

    temperature_of_extremities хочу заполнить вот так.
        if outcome == 2 и медианный respiratory_rate == 24.5 то заполняю на 3
        elif outcome == 2 и медианный respiratory_rate == 30 то заполняю на 4
        
        а потом в другом цикле если surgery == 2 то заполняю 2

In [123]:
# Временная замена NaN на -1
df2['temp_ext_fill'] = df2['temperature_of_extremities'].fillna(-1)

# Группировка с учетом временного значения
df2['median_respiratory_rate'] = df2.groupby('temp_ext_fill')['respiratory_rate'].transform('median')
df2['median_pulse'] = df2.groupby('temp_ext_fill')['pulse'].transform('median')

# Удаление временного столбца
df2.drop(columns='temp_ext_fill', inplace=True)

In [124]:
df2

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,median_respiratory_rate,median_pulse
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,24.5,76.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,24.5,64.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,24.0,54.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,30.0,88.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0,24.5,64.0
...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,38.2,120.0,70.0,4.0,2.0,3.0,30.0,88.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0,24.5,76.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0,30.0,88.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0,24.5,76.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0,24.5,64.0

In [125]:
df2.groupby('temperature_of_extremities').agg('median')

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,outcome,median_respiratory_rate,median_pulse
temperature_of_extremities,,,,,,,,,
1.0,1.0,1.0,38.2,54.0,24.00,3.0,1.0,24.00,54.0
2.0,2.0,1.0,38.2,56.0,26.25,2.0,1.0,26.25,56.0
3.0,1.0,1.0,38.2,76.0,24.50,3.0,2.0,24.50,76.0
4.0,1.0,1.0,38.2,88.0,30.00,3.0,2.0,30.00,88.0

In [126]:
def fill_temperature(row):
    if pd.isna(row['temperature_of_extremities']):  # Если значение пропущено
        if row['outcome'] == 2:
            if row['median_respiratory_rate'] == 24.5:
                return 3
            elif row['median_respiratory_rate'] == 30.0:
                return 4
        if row['surgery'] == 2:
            return 2
    return row['temperature_of_extremities']  # Если не пропущено, оставить как есть

In [127]:
df2['temperature_of_extremities'] = df2.apply(fill_temperature, axis=1)

In [130]:
df2['temperature_of_extremities'].fillna(1.0, inplace=True)

In [131]:
df2.isna().mean()

surgery                       0.000000
age                           0.000000
rectal_temperature            0.000000
pulse                         0.000000
respiratory_rate              0.000000
temperature_of_extremities    0.000000
pain                          0.183333
outcome                       0.000000
median_respiratory_rate       0.000000
median_pulse                  0.000000
dtype: float64

In [139]:
(df2.groupby('pain').
     agg({
         'outcome': 'median', 
         'pulse': 'median', 
         'respiratory_rate': 'median', 
         'rectal_temperature': 'median',
         'temperature_of_extremities': 'median'}))

,outcome,pulse,respiratory_rate,rectal_temperature,temperature_of_extremities
pain,,,,,
1.0,1.0,48.0,20.0,38.2,1.5
2.0,1.0,72.0,24.5,38.2,3.0
3.0,1.0,60.0,24.5,38.2,2.0
4.0,2.0,75.0,24.5,38.2,3.0
5.0,2.0,84.0,24.5,38.2,3.0

In [140]:
df2.pain.value_counts()

pain
3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: count, dtype: int64

In [156]:
# Временная замена NaN на -1
df2['pain_fill'] = df2['pain'].fillna(-1)

# # Группировка с учетом временного значения
df2['median_pain_pulse'] = df2.groupby('pain_fill')['pulse'].transform('median')

# # Удаление временного столбца
# df2.drop(columns='pain_fill', inplace=True)

In [163]:
(df2.groupby('pain_fill').
     agg({
         'outcome': 'median', 
         'pulse': 'median', 
         'respiratory_rate': 'median', 
         'rectal_temperature': 'median',
         'temperature_of_extremities': 'median',
         'surgery': lambda x: x.mode().iloc[0] if not x.mode().empty else None,
         'age': lambda x: x.mode().iloc[0] if not x.mode().empty else None,
         'median_pain_pulse':'median'}))

,outcome,pulse,respiratory_rate,rectal_temperature,temperature_of_extremities,surgery,age,median_pain_pulse
pain_fill,,,,,,,,
-1.0,1.0,64.0,24.5,38.2,2.0,1.0,1,64.0
1.0,1.0,48.0,20.0,38.2,1.5,2.0,1,48.0
2.0,1.0,72.0,24.5,38.2,3.0,1.0,1,72.0
3.0,1.0,60.0,24.5,38.2,2.0,1.0,1,60.0
4.0,2.0,75.0,24.5,38.2,3.0,1.0,1,75.0
5.0,2.0,84.0,24.5,38.2,3.0,1.0,1,84.0

In [146]:
df2.columns

Index(['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate',
       'temperature_of_extremities', 'pain', 'outcome',
       'median_respiratory_rate', 'median_pulse', 'pain_fill'],
      dtype='object')

In [160]:
df2[df2['pain_fill'] == 5].median()

surgery                        1.0
age                            1.0
rectal_temperature            38.2
pulse                         84.0
respiratory_rate              24.5
temperature_of_extremities     3.0
pain                           5.0
outcome                        2.0
median_respiratory_rate       24.5
median_pulse                  76.0
pain_fill                      5.0
median_pain_pulse             84.0
dtype: float64

In [161]:
df2[df2['pain_fill'] == 4].median()

surgery                        1.0
age                            1.0
rectal_temperature            38.2
pulse                         75.0
respiratory_rate              24.5
temperature_of_extremities     3.0
pain                           4.0
outcome                        2.0
median_respiratory_rate       24.5
median_pulse                  76.0
pain_fill                      4.0
median_pain_pulse             75.0
dtype: float64

In [174]:
def fill_pain(row):
    if pd.isna(row['pain']):  # Проверяем, пустое ли значение
        if row['outcome'] == 2:
            # Сравниваем с медианными значениями pulse
            if abs(row['pulse'] - 75) < abs(row['pulse'] - 84):
                return 4  # Ближе к 75
            else:
                return 5  # Ближе к 84
        elif row['surgery'] == 2:
            return 1  # Если surgery == 2, устанавливаем pain = 1
        elif row['temperature_of_extremities'] == 3:
            return 2  # Если temperature_of_extremities == 3, устанавливаем pain = 2
        elif row['temperature_of_extremities'] == 2:
            return 3  # Если temperature_of_extremities == 2, устанавливаем pain = 3
        else:
            # Условие для остальных случаев
            if row['pulse'] < 60:
                return 1
            elif row['pulse'] < 70:
                return 2
            elif row['pulse'] < 80:
                return 3
            else:
                return 4
    return row['pain']  # Если значение не пустое, оставляем как есть

In [175]:
df2['pain'] = df2.apply(fill_pain, axis=1)

In [176]:
df2.isna().mean() * 100

surgery                       0.0
age                           0.0
rectal_temperature            0.0
pulse                         0.0
respiratory_rate              0.0
temperature_of_extremities    0.0
pain                          0.0
outcome                       0.0
median_respiratory_rate       0.0
median_pulse                  0.0
pain_fill                     0.0
median_pain_pulse             0.0
dtype: float64

In [177]:
df2['pain_fill'] = df2['pain'].fillna(-1)

In [178]:
(df2.groupby('pain_fill').
     agg({
         'outcome': 'median', 
         'pulse': 'median', 
         'respiratory_rate': 'median', 
         'rectal_temperature': 'median',
         'temperature_of_extremities': 'median',
         'surgery': lambda x: x.mode().iloc[0] if not x.mode().empty else None,
         'age': lambda x: x.mode().iloc[0] if not x.mode().empty else None,
         'median_pain_pulse':'median'}))

,outcome,pulse,respiratory_rate,rectal_temperature,temperature_of_extremities,surgery,age,median_pain_pulse
pain_fill,,,,,,,,
1.0,1.0,48.0,24.0,38.2,2.0,2.0,1,48.0
2.0,1.0,70.0,24.5,38.2,3.0,1.0,1,72.0
3.0,1.0,60.0,24.5,38.2,2.0,1.0,1,60.0
4.0,2.0,70.0,24.5,38.2,3.0,1.0,1,75.0
5.0,2.0,88.0,24.5,38.2,3.0,1.0,1,84.0

In [180]:
df = (df2[[
    'surgery', 'age','rectal_temperature', 'pulse', 
    'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']])

In [182]:
df.isna().sum()

surgery                       0
age                           0
rectal_temperature            0
pulse                         0
respiratory_rate              0
temperature_of_extremities    0
pain                          0
outcome                       0
dtype: int64

In [183]:
df.to_csv('horse_clean.csv')

In [1]:

import pandas as pd
import numpy as np

# Load the dataset
h_data = 'horse_data.csv'
columns = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate',
           'temperature of extremities', 'pain', 'outcome', 'other_columns']
df = pd.read_csv(h_data, header=None, na_values='?', names=columns, usecols=range(8))

# Initial analysis of data
basic_stats = df.describe(include='all')

# Handling missing values based on column types
# For categorical data, fill missing values with mode (most frequent value)
categorical_columns = ['surgery?', 'Age', 'temperature of extremities', 'pain', 'outcome']
for column in categorical_columns:
    df[column] = df[column].fillna(df[column].mode()[0])

# For numerical data, analyze outliers and fill with median
numerical_columns = ['rectal temperature', 'pulse', 'respiratory rate']
for column in numerical_columns:
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    # Remove outliers for median calculation
    filtered_data = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    df[column] = df[column].fillna(filtered_data[column].median())

# Save the cleaned dataset
cleaned_file = 'cleaned_horse_data.csv'
df.to_csv(cleaned_file, index=False)

# Verify the results
missing_values_summary = df.isnull().sum()
cleaned_stats = df.describe(include='all')

ValueError: Number of passed names did not match number of header fields in the file